/* CSS Document */
.ht_content_rightnr{ width:768px; height:636px; overflow:auto; overflow-x:hidden; background:#e4e9f1;}
.ht_content_right iframe{ width:100%; border:none; height:636px;}
.ht_yemei{ height:33px; overflow:hidden; line-height:33px; background:url(../images/ht_ym.gif) repeat-x;}
.ht_yemei p{ color:#696969; margin-left:16px; background:url(../images/ht_ico01.png) no-repeat left center; text-indent:26px;}
.ht_yemei a{ color:#696969;}
.ht_yemei a:hover{ color:#000;}
.ht_yemei span{ color:#0570b4;}
.ht_kongbai{ width:768px; height:6px; overflow:hidden; background:#fff;}
.ht_rtbut{ height:66px; overflow:hidden; border-bottom:1px solid #c2c8d0; border-top:1px solid #c2c8d0; background:#f3f7fd;}
.ht_rtbut ul li{ width:92px; height:66px; overflow:hidden; background:url(../images/ht_line1.gif) no-repeat right top; text-align:center; float:left;}
.ht_rtbut ul li img{ margin-top:13px; height: 22px;}
.ht_rtbut ul li p{ margin-top:6px;}
.ht_rtbut ul li a{ font-family:"微软雅黑"; color:#585858;}
.ht_rtbut ul li a:hover{ color:#f4a535;}
.ht_sub_nr1{ width:100%; height:auto; overflow:hidden; border-bottom:1px solid #c2c8d0; border-top:1px solid #c2c8d0; background:#fff; margin-top:10px;}
.ht_sub_title0{ height:33px; line-height:33px; overflow:hidden; font-size:12px; color:#37393a; background:url(../images/ht_ttbg0.gif) repeat-x;}
.ht_sub_title0 img{ margin:7px 12px 0px 18px; float:left; display:inline;}
.ht_sub_title0 p{ float:left;}
.ht_sub_table1{ border-collapse:collapse; border-left:none; border:1px solid #dadada; border-left:none; margin-top:0px;}
.ht_sub_table1 tr th{ border-color:#dadada; border-left:none; color:#3f3f3f;}
.ht_sub_table1 tr td{ border-color:#dadada; border-left:none;}
.ht_sub_table1 tr{ height:32px; line-height:32px;}
.ht_sub_tr1{ background:#f6f6f6;}
.ht_sub_table1 tr th p, td p{ text-align:left; margin-left:20px;}
.gy_foot{ text-align:center; height:30px; margin-top:26px;}


#massage_box{ position:absolute; /*left:expression((body.clientWidth-350)/2);*/  left:50%; top:expression((body.clientHeight-200)/2); width:40%; height:auto; overflow:hidden;filter:dropshadow(color=#666666,offx=3,offy=3,positive=2); z-index:2; visibility:hidden; /*top:10%;*/}
#mask{ position:absolute; top:0; left:0; width:expression(body.scrollWidth); height:expression(body.scrollHeight); background:#000; filter:ALPHA(opacity=60); z-index:1; visibility:hidden;}
.massage{border:4px solid #c0c0c0; width:95%; height:95%; background:#fff;  font-size:12px; line-height:24px;}
.header{background:#eee; height:30px; line-height:30px; font-size:12px; padding:3 5 0 5; color:#03568c; font-weight:bold;}


.ht_sub_form1{  margin:50px 0px 60px 70px;overflow:hidden; line-height:48px;}
.ht_sub_form1 p{ float:left; font-size:14px; width:100px; text-align:right; margin-right:10px;}
.ht_sub_form1 input{ height:28px; overflow:hidden; line-height:28px; }

.ht_sub_form00{  margin:50px 0px 60px 70px;overflow:hidden; line-height:48px;}
.ht_sub_form00 p{ float:left; font-size:14px; width:100px; text-align:right; margin-right:10px;}


.ht_sub_form111{  margin:50px 0px 60px 70px;overflow:hidden; line-height:48px;}
.ht_sub_form111 p{ float:left; font-size:14px; width:100px; text-align:right; margin-right:10px;}



.ht_sub_input1{ width:178px; border:1px solid #d7d7d7;margin-top:6px; text-indent:10px;} 
.ht_sub_input2{ width:416px; height:210px; border:1px solid #d7d7d7; margin-top:6px; text-indent:10px;}
.ht_img1{ margin-top:10px;}
.ht_but_qd{ width:90px; height:28px; border:none; background:url(../images/ht_button1.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin:30px 30px 0px 112px; display:inline; cursor:pointer;}
.ht_but_qx{ width:90px; height:28px; border:none; background:url(../images/ht_button2.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin-top:30px; cursor:pointer;}


.ht_sub_form3{  margin:20px 0px 20px 15px;overflow:hidden; line-height:40px; font-size:14px;}
.ht_sub_form3 p{ float:left; font-size:14px; width:70px; text-align:right; margin-left:10px; display:inline;}
.ht_sub_form3 input,select{ height:28px; overflow:hidden; line-height:28px; }
.ht_sub_input013{ width:110px; border:1px solid #d7d7d7;margin-top:6px; text-indent:0px!important; text-indent:10px; padding:4px 4px 4px 0px;}
.ht_span03{ float:left;}
.ht_sub_form3 input{ float:left;}
.ht_sub_input01{ width:100px; border:1px solid #d7d7d7;margin-top:6px; margin-right:14px; text-indent:10px;}
.ht_but_cx0{ width:90px; height:28px; border:none; background:url(../images/ht_button1.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin:6px 0px 0px 0px; display:inline; cursor:pointer;}

.ht_sub_ul1{ width:250px; height:90px; border:1px solid #d7d7d7; background:#f7f7f7; overflow:hidden; margin-top:10px;}
.ht_sub_ul1 li{ width:100px; line-height:26px; overflow:hidden; float:left; margin:11px 0px 0px 18px;display:inline;}
.ht_sub_ul1 li span{ float:left;}
.ht_sub_input3{ margin:0px 10px 0px 0px; display:inline; float:left;}
.ht_but_qd0{ width:90px; height:28px; border:none; background:url(../images/ht_button1.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin:50px 30px 0px 131px; display:inline; cursor:pointer; padding:0px 0px 0px 0px;  padding:3px 0px 3px 0px\9;  *padding:3px 0px 3px 0px;  _padding:3px 0px 3px 0px;}
.ht_but_qx0{ width:90px; height:28px; border:none; background:url(../images/ht_button2.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin-top:50px; cursor:pointer; padding:0px 0px 0px 0px;  padding:3px 0px 3px 0px\9;  *padding:3px 0px 3px 0px;  _padding:3px 0px 3px 0px;}

/*password change*/
.ht_sub_span2{ width:480px; display:block; overflow:hidden; margin:30px 0px 0px 156px;}
.ht_sub_span2 img{ float:left; margin:4px 10px 0px 0px;}
.ht_sub_span2 p{ float:left; width:440px; line-height:26px; color:#7d7d7d;}
.ht_sub_form2{  margin:40px 0px 0px 100px;overflow:hidden; line-height:54px;}
.ht_sub_form2 p{ float:left; font-size:14px; width:100px; text-align:right; margin-right:10px;}
.ht_sub_form2 input{ height:28px; overflow:hidden; line-height:28px; }
.ht_sub_input4{ width:258px; height:210px; border:1px solid #d7d7d7; margin-top:6px; text-indent:10px;}
.ht_sub_form2 span{ color:#ff8d00; font-size:14px;}
.ht_but_qd1{ width:90px; height:28px; border:none; background:url(../images/ht_button1.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin:40px 30px 0px 134px; display:inline; cursor:pointer;}
.ht_but_qx1{ width:90px; height:28px; border:none; background:url(../images/ht_button2.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin-top:40px; cursor:pointer;}

/*customer management*/
.ht_sub_form4{  margin:20px 0px 20px 50px;overflow:hidden; line-height:40px; font-size:14px;}
.ht_sub_input5{ width:160px; height:28px; line-height:28px; overflow:hidden; float:left; margin-right:10px; border:1px solid #d7d7d7; margin-top:6px; text-indent:10px;}
.ht_sub_input6{ width:90px; height:28px; border:none; background:url(../images/ht_button1.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin:7px 10px 0px 0px; display:inline; cursor:pointer;}
.ht_sub_form4 p{ float:left;}
.ht_sub_form4 p a{ color:#1176b1;}
.ht_sub_input7{ float:left; margin:14px 10px 0px 50px; display:inline;}

/*customer management_add*/
.ht_sub_dl1 dt{width:100%; height:48px; overflow:hidden; background:url(../images/ht_ttbg3.gif) repeat-x left bottom;}
.ht_sub_dl1 dt a{display:block;width:187px;height:36px;line-height:36px;float:left;text-align:center;font-weight:bold;font-size:12px; display:inline; color:#37393a;  margin-top:12px; }
.ht_sub_dl1 dt a:hover,.ht_sub_dl1 dt a.now{  background:url(../images/ht_ttbg4.gif) no-repeat; color:#fff;}
.ht_sub_ul2{ margin:32px 0px 0px 0px; line-height:37px; font-size:14px;}
.ht_sub_ul2 li{ height:34px; overflow:hidden; clear:both; padding-left:100px; border-bottom:1px solid #fff; border-top:1px solid #fff; margin-top:4px;}
.ht_sub_ul2 li.newline{ background:#f6f6f6;  border-bottom:1px solid #ddd; border-top:1px solid #ddd; margin-top:4px;}
.ht_sub_ul2 li span{ color:#252525; width:100px; display:inline; float:left; margin-right:20px; text-align:right;}
.ht_sub_li2{ width:170px; height:26px; height:28px \9; *height:28px; _height:28px;  border:1px solid #ddd; background:#f7f7f7;font-size:14px;}
.ht_sub_li3{ width:170px; height:26px; height:28px \9; *height:28px; _height:28px; border:1px solid #ddd; background:#fff; font-size:14px;  }
.ht_sub_li4{ width:330px; height:28px; border:1px solid #ddd; background:#fff; font-size:14px;}
.ht_sub_button2{ height:98px; overflow:hidden; padding-left:110px;}
.ht_sub_input8{ width:320px; border:1px solid #d7d7d7;margin-top:6px;}
.ht_sub_input9{ width:178px; border:1px solid #d7d7d7;margin-top:6px;}
.ht_sub_area1{ width:250px; height:40px; border:1px solid #d7d7d7; background:#f7f7f7; overflow:hidden; margin:10px 0px 0px 10px; float:left; display:inline; padding-top:6px;}
.ht_sub_input10{ width:60px; float:left; margin:6px 6px 0px 0px;}
.ht_sub_area2{ width:520px; height:130px; border:1px solid #d7d7d7; background:#f7f7f7; overflow:hidden; margin:10px 0px 0px 10px; float:left; display:inline; padding-top:6px; padding-left:10px;}
.ht_sub_area2 span{ font-size:12px; margin-left:10px; color:#F90;}
.ht_sub_yangshi{ width:100%; height:20px; overflow:hidden;}



/*package develop*/
.ht_sub_input014{ width:70px; border:1px solid #d7d7d7;margin-top:6px; text-indent:0px!important; text-indent:10px; padding:4px 4px 4px 0px;}
.ht_but_cx{ width:138px; height:28px; border:none; background:url(../images/ht_button3.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin:20px 0px 0px 10px; display:inline; cursor:pointer;}
.ht_sub_table1 p{ line-height:20px; margin-top:6px; margin-bottom:6px;}

/*package add*/
.ht_sub_form5{  margin:50px 0px 0px 70px;overflow:hidden; line-height:48px;}
.ht_sub_form5 span p{ float:left; font-size:14px; width:80px; text-align:right;}
.ht_sub_form5 input{ height:28px; overflow:hidden; line-height:28px; }
.ht_sub_form5 span{ width:280px; display:block; float:left; margin-right:50px;}
.ht_sub_input11{ width:170px; border:1px solid #d7d7d7;margin-top:6px; text-indent:10px;} 
.ht_sub_form5 span a{ margin-top:12px; float:left;}
.ht_sub_form5 span.neirong{ width:570px;}
.ht_sub_tcnr{ float:left; width:488px; height:130px; overflow:hidden; border:1px solid #d7d7d7; background:#f7f6f6; margin-top:10px; font-size:12px; }
.ht_sub_tcnr ul{ margin-top:16px;}
.ht_sub_tcnr ul li p{ font-size:12px;}
.ht_sub_tcnr ul li{ width:220px; float:left; overflow:hidden; margin-left:10px; display:inline;}
.ht_sub_tcnr ul li input{ width:76px; height:20px; line-height:20px; margin-right:6px;}


/*new distribution*/
.ht_sub_tcnr1{ float:left; width:488px; height:130px; overflow:hidden; border:1px solid #d7d7d7; background:#f7f6f6; margin-top:10px; font-size:12px; }
.ht_sub_tcnr1 ul{ margin-top:16px;}
.ht_sub_tcnr1 ul li p{ font-size:12px;}
.ht_sub_tcnr1 ul li{overflow:hidden; margin-left:10px; display:inline;}
.ht_sub_tcnr1 ul li input{ width:76px; height:20px; line-height:20px; margin-right:6px;}
.ht_sub_input015{ width:76px; height:20px; line-height:20px; margin:14px 6px 0px 0px;}

/*order management*/
.ht_sub_form6{  margin:40px 0px 0px 25px;overflow:hidden; line-height:28px;}
.ht_sub_form6 p{ float:left; font-size:14px; width:80px; text-align:right;}
.ht_sub_form6 select,.ht_sub_form6 input,.ht_sub_form6 span{ float:left; margin-top:12px;}
.ht_sub_form6 p{ line-height:48px;}
.ht_sub_input16{ width:136px; border:1px solid #d7d7d7; text-indent:0px !important; text-indent:10px; padding:2px 2px 3px 0px; margin-right:20px;}
.ht_sub_input17{ width:140px; height:28px; line-height:28px; border:1px solid #d7d7d7; text-indent:10px;}
.ht_sub_input18{ width:134px; border:1px solid #d7d7d7; text-indent:10px; height:28px; line-height:28px; margin-right:20px;}
.ht_sub_form6 span{ margin:12px 4px 0px 4px; display:inline;}

/*monitor list*/
.ht_sub_form7{  margin:50px 0px 0px 70px;overflow:hidden; line-height:48px;}
.ht_sub_form7 span p{ float:left; font-size:14px; width:100px; text-align:right;}
.ht_sub_form7 input{ height:28px; overflow:hidden; line-height:28px; }
.ht_sub_form7 span{ width:280px; display:block; float:left; margin-right:50px;} 
.ht_sub_form7 span a{ margin-top:12px; float:left;}
.ht_sub_form7 span.ht_time{ width:500px;}
.ht_sub_input19{ width:110px; border:1px solid #d7d7d7;margin-top:6px;text-indent:10px;}
.ht_but_cx4{ width:110px; height:28px; border:none; background:url(../images/ht_button4.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; float:left; margin:20px 0px 0px 100px; display:inline; cursor:pointer;}
.ht_sub_button3{ width:750px; height:32px; overflow:hidden; margin-top:20px; text-align:right;}
.ht_sub_input016{ width:170px; border:1px solid #d7d7d7;margin-top:6px; text-indent:0px!important; text-indent:10px; padding:4px 4px 4px 0px;}


/*payment list*/
.ht_sub_form8{  margin:50px 0px 0px 25px;overflow:hidden; line-height:28px;}
.ht_sub_form8 p{ float:left; font-size:14px; width:100px; text-align:right;}
.ht_sub_form8 select,.ht_sub_form8 input,.ht_sub_form8 span{ float:left; margin-top:12px;}
.ht_sub_form8 p{ line-height:48px;}
.ht_sub_form8 span{ margin:12px 4px 0px 4px; display:inline;}
.ht_sub_input20{ width:78px; height:28px; border:1px solid #d7d7d7;margin-top:6px;text-indent:10px;}
.ht_but_cx2{ width:178px; height:28px; display:block; border:none; background:url(../images/ht_button8.gif) no-repeat; font-weight:bold; color:#fff; text-align:center; line-height:28px; margin:30px 0px 0px 100px; display:inline;  cursor:pointer;}

/*operation log*/
.ht_sub_foot{ text-align:center; height:30px; margin-top:26px;}
.ht_sub_foot p{ padding-top:8px;}
.ht_sub_foot p a{ border:1px solid #dfdfdf; padding:4px 8px;}
.ht_sub_foot p a:hover{ border:1px solid #e07915; background:#f87c02; color:#FFF;}
.ht_sub_foot p input{ width:30px; text-align:center;margin-right:4px;}

/*consumption statistics*/
.ht_sub_tjnr{ width:768px; height:auto; margin:30px auto; overflow:hidden; text-align:center;}
.ht_sub_title1{ font-size:16px; text-align:center; color:#2f3132;}
.ht_sub_form6 input.ht_sub_input21{ margin-top:20px; _margin-top:16px; float:left;}
.ht_sub_form6 span.ht_sub_span1{ float:left; margin-right:16px;}

/*order details page*/
.ht_sub_ddxxtop{ height:90px; overflow:hidden; border-bottom:1px solid #c2c8d0; border-top:1px solid #c2c8d0; background:#f3f7fd;}
.ht_sub_ztxs{ width:700px; overflow:hidden; margin:13px 0px 0px 24px;}
.ht_sub_ztxs li{ width:247px; height:40px; float:left; background:url(../images/ht_sub_bg02.png) no-repeat; text-align:center; line-height:40px; color:#444444; font-size:14px; font-weight:bold; margin-left:-22px; display:inline;}
.ht_sub_ztxs li.tj{ background:url(../images/ht_sub_bg01.png) no-repeat; color:#fff; margin-left:0px;}
.ht_sub_tiem{ width:700px; overflow:hidden; margin:8px 0px 0px 24px;}
.ht_sub_tiem li{ width:247px; height:20px; float:left; text-align:center; line-height:20px; color:#444444; font-size:14px; margin-left:-22px; display:inline;}
.ht_sub_tiem li.xz{ color:#ff7e00;}
.ht_sub_ddzt{ margin:20px 0px 0px 40px; font-size:14px;}
.ht_sub_ddzt li{ width:180px; float:left;}
.ht_sub_ddzt li span{ color:#ff7e00;}
.ht_sub_zhushi{ height:30px; margin-top:20px; text-indent:34px; font-size:12px; color:#818181;}
.ht_sub_zhushi span{ color:#fc7d01; font-weight:bold;}
.ht_sub_dd_list1{ line-height:60px; margin-left:45px; font-size:14px;}
.ht_sub_dd_list1 li{ width:210px; float:left;}
.ht_sub_dd_list1 li span{ color:#fc7d01;}


.ht_sub_iput001{ width: 59px; height: 25px; border:none; background: url("../images/ht_kq.jpg") no-repeat;}
.ht_sub_iput002{ width: 59px; height: 25px; border:none; background: url("../images/ht_sx.jpg") no-repeat;}
