<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyrt.saic.dao.GroupAnnualInspectionMapper" >
  <resultMap id="BaseResultMap" type="com.hyrt.saic.bean.GroupAnnualInspection" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="groupId" property="groupid" jdbcType="BIGINT" />
    <result column="inspectionYear" property="inspectionyear" jdbcType="VARCHAR" />
    <result column="inspectionResult" property="inspectionresult" jdbcType="VARCHAR" />
    <result column="inspectionDate" property="inspectiondate" jdbcType="VARCHAR" />
    <result column="inspectionType" property="inspectiontype" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, groupId, inspectionYear, inspectionResult, inspectionDate, inspectionType, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_group_annual_inspection
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_group_annual_inspection
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hyrt.saic.bean.GroupAnnualInspection" >
    insert into t_group_annual_inspection (id, groupId, inspectionYear, 
      inspectionResult, inspectionDate, inspectionType, 
      remark)
    values (#{id,jdbcType=BIGINT}, #{groupid,jdbcType=BIGINT}, #{inspectionyear,jdbcType=VARCHAR}, 
      #{inspectionresult,jdbcType=VARCHAR}, #{inspectiondate,jdbcType=VARCHAR}, #{inspectiontype,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyrt.saic.bean.GroupAnnualInspection" >
    insert into t_group_annual_inspection
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupid != null" >
        groupId,
      </if>
      <if test="inspectionyear != null" >
        inspectionYear,
      </if>
      <if test="inspectionresult != null" >
        inspectionResult,
      </if>
      <if test="inspectiondate != null" >
        inspectionDate,
      </if>
      <if test="inspectiontype != null" >
        inspectionType,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=BIGINT},
      </if>
      <if test="inspectionyear != null" >
        #{inspectionyear,jdbcType=VARCHAR},
      </if>
      <if test="inspectionresult != null" >
        #{inspectionresult,jdbcType=VARCHAR},
      </if>
      <if test="inspectiondate != null" >
        #{inspectiondate,jdbcType=VARCHAR},
      </if>
      <if test="inspectiontype != null" >
        #{inspectiontype,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyrt.saic.bean.GroupAnnualInspection" >
    update t_group_annual_inspection
    <set >
      <if test="groupid != null" >
        groupId = #{groupid,jdbcType=BIGINT},
      </if>
      <if test="inspectionyear != null" >
        inspectionYear = #{inspectionyear,jdbcType=VARCHAR},
      </if>
      <if test="inspectionresult != null" >
        inspectionResult = #{inspectionresult,jdbcType=VARCHAR},
      </if>
      <if test="inspectiondate != null" >
        inspectionDate = #{inspectiondate,jdbcType=VARCHAR},
      </if>
      <if test="inspectiontype != null" >
        inspectionType = #{inspectiontype,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyrt.saic.bean.GroupAnnualInspection" >
    update t_group_annual_inspection
    set groupId = #{groupid,jdbcType=BIGINT},
      inspectionYear = #{inspectionyear,jdbcType=VARCHAR},
      inspectionResult = #{inspectionresult,jdbcType=VARCHAR},
      inspectionDate = #{inspectiondate,jdbcType=VARCHAR},
      inspectionType = #{inspectiontype,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>