<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyrt.saic.dao.GroupInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hyrt.saic.bean.GroupInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="groupName" property="groupName" jdbcType="VARCHAR" />
    <result column="legalPersonName" property="legalPersonName" jdbcType="VARCHAR" />
    <result column="registrationCode" property="registrationCode" jdbcType="VARCHAR" />
    <result column="registeredCapital" property="registeredCapital" jdbcType="VARCHAR" />
    <result column="currencyType" property="currencyType" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="VARCHAR" />
    <result column="effectiveDate" property="effectiveDate" jdbcType="VARCHAR" />
    <result column="deadline" property="deadline" jdbcType="VARCHAR" />
    <result column="groupType" property="groupType" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="permissionProject" property="permissionProject" jdbcType="VARCHAR" />
    <result column="generalProject" property="generalProject" jdbcType="VARCHAR" />
    <result column="businessScope" property="businessScope" jdbcType="VARCHAR" />
    <result column="businessMode" property="businessMode" jdbcType="VARCHAR" />
    <result column="RA" property="ra" jdbcType="VARCHAR" />
    <result column="lastInspectionYear" property="lastInspectionYear" jdbcType="VARCHAR" />
    <result column="lastInspectionDate" property="lastInspectionDate" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="orderId" property="orderId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, groupName, legalPersonName, registrationCode, registeredCapital, currencyType, 
    createTime, effectiveDate, deadline, groupType, status, address, permissionProject, 
    generalProject, businessScope, businessMode, RA, lastInspectionYear, lastInspectionDate, 
    remark, orderId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_group_info
    where id = #{id,jdbcType=BIGINT}
  </select>

    <select id="selectByOrderDetailId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_group_info
        where orderId = #{orderDetailId,jdbcType=BIGINT} order by id desc limit 0,1
    </select>




  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_group_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hyrt.saic.bean.GroupInfo" >
    insert into t_group_info (id, groupName, legalPersonName, 
      registrationCode, registeredCapital, currencyType, 
      createTime, effectiveDate, deadline, 
      groupType, status, address, 
      permissionProject, generalProject, businessScope, 
      businessMode, RA, lastInspectionYear, 
      lastInspectionDate, remark, orderId
      )
    values (#{id,jdbcType=BIGINT}, #{groupName,jdbcType=VARCHAR}, #{legalPersonName,jdbcType=VARCHAR},
      #{registrationCode,jdbcType=VARCHAR}, #{registeredCapital,jdbcType=VARCHAR}, #{currencyType,jdbcType=VARCHAR},
      #{createTime,jdbcType=VARCHAR}, #{effectiveDate,jdbcType=VARCHAR}, #{deadline,jdbcType=VARCHAR},
      #{groupType,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{generalProject,jdbcType=VARCHAR}, #{generalProject,jdbcType=VARCHAR}, #{businessScope,jdbcType=VARCHAR},
      #{businessMode,jdbcType=VARCHAR}, #{ra,jdbcType=VARCHAR}, #{lastInspectionYear,jdbcType=VARCHAR},
      #{lastInspectionDate,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{orderid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyrt.saic.bean.GroupInfo" >
    insert into t_group_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupName != null" >
        groupName,
      </if>
      <if test="legalPersonName != null" >
        legalPersonName,
      </if>
      <if test="registrationCode != null" >
        registrationCode,
      </if>
      <if test="registeredCapital != null" >
        registeredCapital,
      </if>
      <if test="currencyType != null" >
        currencyType,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="effectiveDate != null" >
        effectiveDate,
      </if>
      <if test="deadline != null" >
        deadline,
      </if>
      <if test="groupType != null" >
        groupType,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="permissionProject != null" >
        permissionProject,
      </if>
      <if test="generalProject != null" >
        generalProject,
      </if>
      <if test="businessScope != null" >
        businessScope,
      </if>
      <if test="businessMode != null" >
        businessMode,
      </if>
      <if test="ra != null" >
        RA,
      </if>
      <if test="lastInspectionYear != null" >
        lastInspectionYear,
      </if>
      <if test="lastInspectionDate != null" >
        lastInspectionDate,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null" >
        #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="registrationCode != null" >
        #{registrationCode,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null" >
        #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="currencyType != null" >
        #{currencyType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null" >
        #{effectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null" >
        #{groupType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="permissionProject != null" >
        #{permissionProject,jdbcType=VARCHAR},
      </if>
      <if test="generalProject != null" >
        #{generalProject,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="businessMode != null" >
        #{businessMode,jdbcType=VARCHAR},
      </if>
      <if test="ra != null" >
        #{ra,jdbcType=VARCHAR},
      </if>
      <if test="lastInspectionYear != null" >
        #{lastInspectionYear,jdbcType=VARCHAR},
      </if>
      <if test="lastInspectionDate != null" >
        #{lastInspectionDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyrt.saic.bean.GroupInfo" >
    update t_group_info
    <set >
      <if test="groupName != null" >
        groupName = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="legalPersonName != null" >
        legalPersonName = #{legalPersonName,jdbcType=VARCHAR},
      </if>
      <if test="registrationCode != null" >
        registrationCode = #{registrationCode,jdbcType=VARCHAR},
      </if>
      <if test="registeredCapital != null" >
        registeredCapital = #{registeredCapital,jdbcType=VARCHAR},
      </if>
      <if test="currencyType != null" >
        currencyType = #{currencyType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="effectiveDate != null" >
        effectiveDate = #{effectiveDate,jdbcType=VARCHAR},
      </if>
      <if test="deadline != null" >
        deadline = #{deadline,jdbcType=VARCHAR},
      </if>
      <if test="groupType != null" >
        groupType = #{groupType,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="permissionProject != null" >
        permissionProject = #{permissionProject,jdbcType=VARCHAR},
      </if>
      <if test="generalProject != null" >
        generalProject = #{generalProject,jdbcType=VARCHAR},
      </if>
      <if test="businessScope != null" >
        businessScope = #{businessScope,jdbcType=VARCHAR},
      </if>
      <if test="businessMode != null" >
        businessMode = #{businessMode,jdbcType=VARCHAR},
      </if>
      <if test="ra != null" >
        RA = #{ra,jdbcType=VARCHAR},
      </if>
      <if test="lastInspectionYear != null" >
        lastInspectionYear = #{lastInspectionYear,jdbcType=VARCHAR},
      </if>
      <if test="lastInspectionDate != null" >
        lastInspectionDate = #{lastInspectionDate,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyrt.saic.bean.GroupInfo" >
    update t_group_info
    set groupName = #{groupName,jdbcType=VARCHAR},
      legalPersonName = #{legalPersonName,jdbcType=VARCHAR},
      registrationCode = #{registrationCode,jdbcType=VARCHAR},
      registeredCapital = #{registeredCapital,jdbcType=VARCHAR},
      currencyType = #{currencyType,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=VARCHAR},
      effectiveDate = #{effectiveDate,jdbcType=VARCHAR},
      deadline = #{deadline,jdbcType=VARCHAR},
      groupType = #{groupType,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      permissionProject = #{permissionProject,jdbcType=VARCHAR},
      generalProject = #{generalProject,jdbcType=VARCHAR},
      businessScope = #{businessScope,jdbcType=VARCHAR},
      businessMode = #{businessMode,jdbcType=VARCHAR},
      RA = #{ra,jdbcType=VARCHAR},
      lastInspectionYear = #{lastInspectionYear,jdbcType=VARCHAR},
      lastInspectionDate = #{lastInspectionDate,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      orderId = #{orderId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>