<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyrt.saic.dao.GroupChangingMapper" >
  <resultMap id="BaseResultMap" type="com.hyrt.saic.bean.GroupChanging" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="groupId" property="groupId" jdbcType="BIGINT" />
    <result column="changeItem" property="changeItem" jdbcType="VARCHAR" />
    <result column="beforeChange" property="beforeChange" jdbcType="VARCHAR" />
    <result column="afterChange" property="afterChange" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, groupId, changeItem, beforeChange, afterChange, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_group_changing
    where id = #{id,jdbcType=BIGINT}
  </select>

    <select id="selectByGroupId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_group_changing
        where groupId = #{_parameter,jdbcType=BIGINT} order by id desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_group_changing
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hyrt.saic.bean.GroupChanging" >
    insert into t_group_changing (id, groupId, changeItem, 
      beforeChange, afterChange, remark
      )
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=BIGINT}, #{changeItem,jdbcType=VARCHAR},
      #{beforeChange,jdbcType=VARCHAR}, #{afterChange,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyrt.saic.bean.GroupChanging" >
    insert into t_group_changing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupId != null" >
        groupId,
      </if>
      <if test="changeItem != null" >
        changeItem,
      </if>
      <if test="beforeChange != null" >
        beforeChange,
      </if>
      <if test="afterChange != null" >
        afterChange,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=BIGINT},
      </if>
      <if test="changeItem != null" >
        #{changeItem,jdbcType=VARCHAR},
      </if>
      <if test="beforeChange != null" >
        #{beforeChange,jdbcType=VARCHAR},
      </if>
      <if test="afterChange != null" >
        #{afterChange,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyrt.saic.bean.GroupChanging" >
    update t_group_changing
    <set >
      <if test="groupId != null" >
        groupId = #{groupId,jdbcType=BIGINT},
      </if>
      <if test="changeItem != null" >
        changeItem = #{changeItem,jdbcType=VARCHAR},
      </if>
      <if test="beforeChange != null" >
        beforeChange = #{beforeChange,jdbcType=VARCHAR},
      </if>
      <if test="afterChange != null" >
        afterChange = #{afterChange,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyrt.saic.bean.GroupChanging" >
    update t_group_changing
    set groupId = #{groupId,jdbcType=BIGINT},
      changeItem = #{changeItem,jdbcType=VARCHAR},
      beforeChange = #{beforeChange,jdbcType=VARCHAR},
      afterChange = #{afterChange,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>