<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyrt.saic.dao.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.hyrt.saic.bean.OrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderId" property="orderid" jdbcType="VARCHAR" />
    <result column="monitorType" property="monitortype" jdbcType="CHAR" />
    <result column="objName" property="objname" jdbcType="VARCHAR" />
    <result column="objCode" property="objcode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderId, monitorType, objName, objCode, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hyrt.saic.bean.OrderDetail" >
    insert into t_order_detail (id, orderId, monitorType, 
      objName, objCode, remark
      )
    values (#{id,jdbcType=BIGINT}, #{orderid,jdbcType=VARCHAR}, #{monitortype,jdbcType=CHAR}, 
      #{objname,jdbcType=VARCHAR}, #{objcode,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyrt.saic.bean.OrderDetail" >
    insert into t_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="monitortype != null" >
        monitorType,
      </if>
      <if test="objname != null" >
        objName,
      </if>
      <if test="objcode != null" >
        objCode,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="monitortype != null" >
        #{monitortype,jdbcType=CHAR},
      </if>
      <if test="objname != null" >
        #{objname,jdbcType=VARCHAR},
      </if>
      <if test="objcode != null" >
        #{objcode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyrt.saic.bean.OrderDetail" >
    update t_order_detail
    <set >
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="monitortype != null" >
        monitorType = #{monitortype,jdbcType=CHAR},
      </if>
      <if test="objname != null" >
        objName = #{objname,jdbcType=VARCHAR},
      </if>
      <if test="objcode != null" >
        objCode = #{objcode,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyrt.saic.bean.OrderDetail" >
    update t_order_detail
    set orderId = #{orderid,jdbcType=VARCHAR},
      monitorType = #{monitortype,jdbcType=CHAR},
      objName = #{objname,jdbcType=VARCHAR},
      objCode = #{objcode,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>