<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyrt.saic.dao.OrderMapper" >


  <resultMap id="BaseResultMap" type="com.hyrt.saic.bean.order.Order" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="userId" property="userId" jdbcType="VARCHAR" />
    <result column="businessId" property="businessId" jdbcType="INTEGER" />
      <result column="orderType" property="orderType" jdbcType="INTEGER" />
    <result column="cycle" property="cycle" jdbcType="INTEGER" />
    <result column="loops" property="loops" jdbcType="INTEGER" />
    <result column="sumMoney" property="sumMoney" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="payTime" property="payTime" jdbcType="TIMESTAMP" />
    <result column="verifyTime" property="verifyTime" jdbcType="TIMESTAMP" />
    <result column="finishTime" property="finishTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>

    <resultMap id="orderInfo" type="com.hyrt.saic.bean.order.OrderInfo">
        <result column="id" property="id" jdbcType="BIGINT" />
        <result column="orderId" property="orderId" jdbcType="VARCHAR" />
        <result column="userId" property="userId" jdbcType="VARCHAR" />
        <result column="orderType" property="orderType" jdbcType="INTEGER" />
        <result column="monitorType" property="monitorType" jdbcType="VARCHAR" />
        <result column="objCode" property="objCode" jdbcType="VARCHAR" />
        <result column="objName" property="objName" jdbcType="VARCHAR" />
        <result column="objCertType" property="objCertType" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="VARCHAR" />
        <result column="cycle" property="cycle" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />

    </resultMap>

  <resultMap id="ResultMapWithBLOBs" type="com.hyrt.saic.bean.order.Order" extends="BaseResultMap" >
    <result column="requirement" property="requirement" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, businessId, orderType, cycle, loops, sumMoney, status, createTime, payTime, verifyTime,
    finishTime, remark
  </sql>
  <sql id="Blob_Column_List" >
    requirement
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_order
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_order
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hyrt.saic.bean.order.Order" >
    insert into t_order (id, userId, businessId,orderType,
      cycle, loops, sumMoney, 
      status, createTime, payTime, 
      verifyTime, finishTime, remark, 
      requirement)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{businessId,jdbcType=INTEGER},   #{orderType,jdbcType=INTEGER},
      #{cycle,jdbcType=INTEGER}, #{loops,jdbcType=INTEGER}, #{sumMoney,jdbcType=DECIMAL},
      #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP},
      #{verifyTime,jdbcType=TIMESTAMP}, #{finishTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
      #{requirement,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyrt.saic.bean.order.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="businessId != null" >
        businessId,
      </if>
        <if test="orderType != null" >
            orderType,
        </if>

      <if test="cycle != null" >
        cycle,
      </if>
      <if test="loops != null" >
        loops,
      </if>
      <if test="sumMoney != null" >
        sumMoney,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="paytime != null" >
        payTime,
      </if>
      <if test="verifyTime != null" >
        verifyTime,
      </if>
      <if test="finishTime != null" >
        finishTime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="requirement != null" >
        requirement,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=INTEGER},
      </if>
        <if test="orderType != null" >
            #{orderType,jdbcType=INTEGER},
        </if>

      <if test="cycle != null" >
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="loops != null" >
        #{loops,jdbcType=INTEGER},
      </if>
      <if test="sumMoney != null" >
        #{sumMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyTime != null" >
        #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="requirement != null" >
        #{requirement,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyrt.saic.bean.order.Order" >
    update t_order
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="businessId != null" >
        businessId = #{businessId,jdbcType=INTEGER},
      </if>
        <if test="orderType != null" >
            orderType = #{orderType,jdbcType=INTEGER},
        </if>

      <if test="cycle != null" >
        cycle = #{cycle,jdbcType=INTEGER},
      </if>
      <if test="loops != null" >
        loops = #{loops,jdbcType=INTEGER},
      </if>
      <if test="sumMoney != null" >
        sumMoney = #{sumMoney,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null" >
        payTime = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="verifyTime != null" >
        verifyTime = #{verifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null" >
        finishTime = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="requirement != null" >
        requirement = #{requirement,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hyrt.saic.bean.order.Order" >
    update t_order
    set userId = #{userId,jdbcType=VARCHAR},
      businessId = #{businessId,jdbcType=INTEGER},       orderType = #{orderType,jdbcType=INTEGER},
      cycle = #{cycle,jdbcType=INTEGER},
      loops = #{loops,jdbcType=INTEGER},
      sumMoney = #{sumMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      payTime = #{payTime,jdbcType=TIMESTAMP},
      verifyTime = #{verifyTime,jdbcType=TIMESTAMP},
      finishTime = #{finishTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      requirement = #{requirement,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyrt.saic.bean.order.Order" >
    update t_order
    set userId = #{userId,jdbcType=VARCHAR},
      businessId = #{businessId,jdbcType=INTEGER},    orderType = #{orderType,jdbcType=INTEGER},
      cycle = #{cycle,jdbcType=INTEGER},
      loops = #{loops,jdbcType=INTEGER},
      sumMoney = #{sumMoney,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      payTime = #{payTime,jdbcType=TIMESTAMP},
      verifyTime = #{verifyTime,jdbcType=TIMESTAMP},
      finishTime = #{finishTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>


    <select id="selectOrderInfo" resultMap="orderInfo" parameterType="java.util.Map" >
        SELECT d.id,d.`orderId`,d.`monitorType`,d.`objCode`,d.`objName`,d.`certType` objCertType,d.`status`,d.`remark`,
        o.`orderType`,DATE_FORMAT(o.createTime,'%Y-%m-%d %H:%i') createTime,o.`userId`,o.`cycle`,
        t.`orderName` orderTypeName
        FROM t_order_detail d,t_order o,t_order_type t WHERE d.`orderId`=o.`id` AND o.`orderType`=t.`id`
        <if test="code != null" >
            and d.objCode like '%${code}%'
        </if>
        <if test="name != null" >
            and d.objName like '%${name}%'
        </if>
        <if test="type != null" >
            and o.orderType = #{type,jdbcType=VARCHAR}
        </if>
        <if test="sday != null" >
            <![CDATA[  and DATE_FORMAT(o.createTime,'%Y-%m-%d') >= #{sday,jdbcType=VARCHAR}]]>
        </if>
        <if test="eday != null" >
            <![CDATA[  and DATE_FORMAT(o.createTime,'%Y-%m-%d') <=  #{eday,jdbcType=VARCHAR}]]>
        </if>
        <if test="userId != null" >
            and o.userId = #{userId,jdbcType=VARCHAR}
        </if>
        <if test="status != null" >
            and d.status = #{status,jdbcType=VARCHAR}
        </if>

        <if test="businessType != null" >
            and d.monitorType= #{businessType,jdbcType=VARCHAR}
        </if>
        order by createTime,id desc limit #{cursor,jdbcType=INTEGER} ,#{length,jdbcType=INTEGER}

    </select>

  <select id="selectOrderInfoByOrderId" resultType="java.util.Map" parameterType="java.lang.String" >
        SELECT o.id,o.userId,o.orderType,t.orderName orderTypeName,o.createTime,o.status,o.payTime,o.verifyTime,o.finishTime,o.remark,
        (SELECT COUNT(*) FROM t_order_detail WHERE orderId = o.id) total
        FROM t_order o LEFT JOIN t_order_type t ON t.id = o.orderType  where o.id = #{_parameter,jdbcType=VARCHAR}
    </select>


    <select id="selectCount" resultType="java.lang.Integer" parameterType="java.util.Map" >
        SELECT count(*)
        FROM t_order_detail d,t_order o,t_order_type t WHERE d.`orderId`=o.`id` AND o.`orderType`=t.`id`
        <if test="code != null" >
            and d.objCode like '%${code}%'
        </if>
        <if test="name != null" >
            and d.objName like '%${name}%'
        </if>
        <if test="type != null" >
            and o.orderType = #{type,jdbcType=VARCHAR}
        </if>
        <if test="sday != null" >
            <![CDATA[  and DATE_FORMAT(o.createTime,'%Y-%m-%d') >= #{sday,jdbcType=VARCHAR}]]>
        </if>
        <if test="eday != null" >
            <![CDATA[  and DATE_FORMAT(o.createTime,'%Y-%m-%d') <=  #{eday,jdbcType=VARCHAR}]]>
        </if>
        <if test="userId != null" >
            and o.userId = #{userId,jdbcType=VARCHAR}
        </if>
        <if test="status != null" >
            and d.status  =#{status,jdbcType=VARCHAR}
        </if>

        <if test="businessType != null" >
            and d.monitorType =#{businessType,jdbcType=VARCHAR}
        </if>

    </select>

    <select id="selectForPermissionView" resultType="java.lang.Integer" parameterType="java.util.Map" >
        SELECT r.orderType FROM t_order_detail o,t_order r WHERE o.orderId = r.id AND o.id=#{id,jdbcType=BIGINT} AND r.userId = #{userId,jdbcType=VARCHAR}

    </select>


</mapper>