<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyrt.saic.dao.PersonGroupInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hyrt.saic.bean.PersonGroupInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="personType" property="personType" jdbcType="VARCHAR" />
    <result column="A" property="a" jdbcType="VARCHAR" />
    <result column="B" property="b" jdbcType="VARCHAR" />
    <result column="C" property="c" jdbcType="VARCHAR" />
    <result column="D" property="d" jdbcType="VARCHAR" />
    <result column="E" property="e" jdbcType="VARCHAR" />
    <result column="F" property="f" jdbcType="VARCHAR" />
    <result column="G" property="g" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="orderId" property="orderId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, personType, A, B, C, D, E, F, G, remark, orderId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_person_group_info
    where id = #{id,jdbcType=BIGINT}
  </select>

    <select id="selectByOrderDetailId" resultMap="BaseResultMap" parameterType="java.lang.Long" >


        SELECT * FROM t_person_group_info WHERE id =1
        UNION SELECT * FROM t_person_group_info WHERE personType ='legal' AND orderId = #{_parameter,jdbcType=BIGINT}
        UNION
        SELECT * FROM t_person_group_info WHERE id =2
        UNION SELECT * FROM t_person_group_info WHERE personType ='shareholder' AND orderId = #{_parameter,jdbcType=BIGINT}
        UNION
        SELECT * FROM t_person_group_info WHERE id =3
        UNION SELECT * FROM t_person_group_info WHERE personType ='senior' AND orderId =  #{_parameter,jdbcType=BIGINT}
    </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_person_group_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hyrt.saic.bean.PersonGroupInfo" >
    insert into t_person_group_info (id, personType, A, 
      B, C, D, E, 
      F, G, remark, orderId
      )
    values (#{id,jdbcType=BIGINT}, #{personType,jdbcType=VARCHAR}, #{a,jdbcType=VARCHAR},
      #{b,jdbcType=VARCHAR}, #{c,jdbcType=VARCHAR}, #{d,jdbcType=VARCHAR}, #{e,jdbcType=VARCHAR}, 
      #{f,jdbcType=VARCHAR}, #{g,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hyrt.saic.bean.PersonGroupInfo" >
    insert into t_person_group_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="personType != null" >
        personType,
      </if>
      <if test="a != null" >
        A,
      </if>
      <if test="b != null" >
        B,
      </if>
      <if test="c != null" >
        C,
      </if>
      <if test="d != null" >
        D,
      </if>
      <if test="e != null" >
        E,
      </if>
      <if test="f != null" >
        F,
      </if>
      <if test="g != null" >
        G,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="orderId != null" >
        orderId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="personType != null" >
        #{personType,jdbcType=VARCHAR},
      </if>
      <if test="a != null" >
        #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null" >
        #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null" >
        #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null" >
        #{d,jdbcType=VARCHAR},
      </if>
      <if test="e != null" >
        #{e,jdbcType=VARCHAR},
      </if>
      <if test="f != null" >
        #{f,jdbcType=VARCHAR},
      </if>
      <if test="g != null" >
        #{g,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyrt.saic.bean.PersonGroupInfo" >
    update t_person_group_info
    <set >
      <if test="personType != null" >
        personType = #{personType,jdbcType=VARCHAR},
      </if>
      <if test="a != null" >
        A = #{a,jdbcType=VARCHAR},
      </if>
      <if test="b != null" >
        B = #{b,jdbcType=VARCHAR},
      </if>
      <if test="c != null" >
        C = #{c,jdbcType=VARCHAR},
      </if>
      <if test="d != null" >
        D = #{d,jdbcType=VARCHAR},
      </if>
      <if test="e != null" >
        E = #{e,jdbcType=VARCHAR},
      </if>
      <if test="f != null" >
        F = #{f,jdbcType=VARCHAR},
      </if>
      <if test="g != null" >
        G = #{g,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        orderId = #{orderId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyrt.saic.bean.PersonGroupInfo" >
    update t_person_group_info
    set personType = #{personType,jdbcType=VARCHAR},
      A = #{a,jdbcType=VARCHAR},
      B = #{b,jdbcType=VARCHAR},
      C = #{c,jdbcType=VARCHAR},
      D = #{d,jdbcType=VARCHAR},
      E = #{e,jdbcType=VARCHAR},
      F = #{f,jdbcType=VARCHAR},
      G = #{g,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      orderId = #{orderId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>