<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyrt.saic.dao.UserApplyPackageMapper" >
  <resultMap id="BaseResultMap" type="com.hyrt.saic.bean.UserApplyPackage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="assignorId" property="assignorId" jdbcType="VARCHAR" />
    <result column="yearMonth" property="yearMonth" jdbcType="CHAR" />
    <result column="businessId" property="businessId" jdbcType="INTEGER" />
    <result column="assignQuantity" property="assignQuantity" jdbcType="INTEGER" />
    <result column="usedQuantity" property="usedQuantity" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, userId, assignorId, yearMonth, businessId, assignQuantity, usedQuantity, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_apply_package
    where id = #{id,jdbcType=INTEGER}
  </select>



  <select id="selective" resultType="java.util.Map" parameterType="java.util.Map">

     SELECT MAX(userId) userId,MAX(userName) userName,assignorId,MAX(assignorName) assignorName,yearMonth,max(remark) remark,
       MAX(CASE businessId WHEN 1 THEN assignQuantity ELSE 0 END) b1q ,
       MAX(CASE businessId WHEN 1 THEN usedQuantity ELSE 0 END) b1uq ,
       MAX(CASE businessId WHEN 2 THEN assignQuantity ELSE 0 END) b2q ,
       MAX(CASE businessId WHEN 2 THEN usedQuantity ELSE 0 END) b2uq
     FROM (
          SELECT u.userId,u.userName,a.assignorId,
                  (SELECT username FROM t_user WHERE userId = a.assignorId) assignorName,
                  a.yearMonth,a.businessId,a.assignQuantity,a.usedQuantity,a.remark
          FROM t_user u,t_user_apply_package a
          WHERE u.userId=a.userId
          <if test="userId != null" >
              AND a.userId=#{userId,jdbcType=VARCHAR}
          </if>
          <if test="userName != null" >
              AND u.userName like '%${userName}%'
          </if>
          <if test="yearMonth != null" >
              <![CDATA[  AND yearMonth >=#{yearMonth,jdbcType=VARCHAR}  ]]>
          </if>


     ) xx
     GROUP BY assignorId,yearMonth
     ORDER BY yearMonth DESC

  </select>


    <select id="selectiveByPage" resultType="java.util.Map" parameterType="java.util.Map">

        SELECT  userId,MAX(userName) userName,assignorId,MAX(assignorName) assignorName,yearMonth,max(remark) remark,
        MAX(CASE businessId WHEN 1 THEN assignQuantity ELSE 0 END) b1q ,
        MAX(CASE businessId WHEN 1 THEN usedQuantity ELSE 0 END) b1uq ,
        MAX(CASE businessId WHEN 2 THEN assignQuantity ELSE 0 END) b2q ,
        MAX(CASE businessId WHEN 2 THEN usedQuantity ELSE 0 END) b2uq
        FROM (
        SELECT u.userId,u.userName,a.assignorId,
        (SELECT username FROM t_user WHERE userId = a.assignorId) assignorName,
        a.yearMonth,a.businessId,a.assignQuantity,a.usedQuantity,a.remark
        FROM t_user_apply_package a,t_user u
        WHERE u.userId=a.userId
        <if test="userId != null" >
            AND a.userId=#{userId,jdbcType=VARCHAR}
        </if>
<!--        <if test="assignorId != null" >
            AND a.assignorId=#{assignorId,jdbcType=VARCHAR}
        </if>-->
        <if test="userName != null" >
            AND u.userName like '%${userName}%'
        </if>
        <if test="yearMonth != null" >
            <![CDATA[  AND yearMonth =#{yearMonth,jdbcType=VARCHAR}  ]]>
        </if>


        ) xx
        GROUP BY userId,assignorId,yearMonth
        ORDER BY yearMonth DESC
        <if test="cursor != null" >
            limit #{cursor,jdbcType=INTEGER} ,#{length,jdbcType=INTEGER}
        </if>
    </select>


    <select id="selectiveCount"  resultType="java.lang.Integer" parameterType="java.util.Map">
       select count(*) from (
        SELECT MAX(userId),MAX(userName) userName,assignorId,MAX(assignorName) assignorName,yearMonth,max(remark) remark,
        MAX(CASE businessId WHEN 1 THEN assignQuantity ELSE 0 END) b1q ,
        MAX(CASE businessId WHEN 1 THEN usedQuantity ELSE 0 END) b1uq ,
        MAX(CASE businessId WHEN 2 THEN assignQuantity ELSE 0 END) b2q ,
        MAX(CASE businessId WHEN 2 THEN usedQuantity ELSE 0 END) b2uq
        FROM (
        SELECT u.userId,u.userName,a.assignorId,
        (SELECT username FROM t_user WHERE userId = a.assignorId) assignorName,
        a.yearMonth,a.businessId,a.assignQuantity,a.usedQuantity,a.remark
        FROM t_user u,t_user_apply_package a
        WHERE u.userId=a.userId
        <if test="userId != null" >
            AND a.userId=#{userId,jdbcType=VARCHAR}
        </if>
<!--        <if test="assignorId != null" >
            AND a.assignorId=#{assignorId,jdbcType=VARCHAR}
        </if>-->
        <if test="userName != null" >
            AND u.userName like '%${userName}%'
        </if>
        <if test="yearMonth != null" >
            <![CDATA[  AND yearMonth =#{yearMonth,jdbcType=VARCHAR}  ]]>
        </if>
        ) xx
        GROUP BY userId,assignorId,yearMonth
        ) yyy
    </select>



  <select id="select" parameterType="java.util.Map" resultType="java.util.Map">
      select <include refid="Base_Column_List"/>
      from t_user_apply_package
      where userId=#{userId,jdbcType=VARCHAR}
      and yearMonth=#{yearMonth,jdbcType=VARCHAR}
  </select>

    <update id="updateAllotPackageQuantity" parameterType="java.util.Map" >
    update t_user_apply_package
    set usedQuantity = usedQuantity + #{quantity,jdbcType=INTEGER}
    where userId = #{userId,jdbcType=INTEGER}  and businessId=1 and yearMonth=#{yearMonth,jdbcType=VARCHAR}
  </update>







  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_apply_package
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hyrt.saic.bean.UserApplyPackage" >
    insert into t_user_apply_package (id, userId, assignorId, 
      yearMonth, businessId, assignQuantity, 
      usedQuantity, remark)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{assignorId,jdbcType=VARCHAR},
      #{yearMonth,jdbcType=CHAR}, #{businessId,jdbcType=INTEGER}, #{assignQuantity,jdbcType=INTEGER},
      #{usedQuantity,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hyrt.saic.bean.UserApplyPackage" >
    insert into t_user_apply_package
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="assignorId != null" >
        assignorId,
      </if>
      <if test="yearMonth != null" >
        yearMonth,
      </if>
      <if test="businessId != null" >
        businessId,
      </if>
      <if test="assignQuantity != null" >
        assignQuantity,
      </if>
      <if test="usedQuantity != null" >
        usedQuantity,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="assignorId != null" >
        #{assignorId,jdbcType=VARCHAR},
      </if>
      <if test="yearMonth != null" >
        #{yearMonth,jdbcType=CHAR},
      </if>
      <if test="businessId != null" >
        #{businessId,jdbcType=INTEGER},
      </if>
      <if test="assignQuantity != null" >
        #{assignQuantity,jdbcType=INTEGER},
      </if>
      <if test="usedQuantity != null" >
        #{usedQuantity,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hyrt.saic.bean.UserApplyPackage" >
    update t_user_apply_package
    <set >
      <if test="userId != null" >
        userId = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="assignorId != null" >
        assignorId = #{assignorId,jdbcType=VARCHAR},
      </if>
      <if test="yearMonth != null" >
        yearMonth = #{yearMonth,jdbcType=CHAR},
      </if>
      <if test="businessId != null" >
        businessId = #{businessId,jdbcType=INTEGER},
      </if>
      <if test="assignQuantity != null" >
        assignQuantity = #{assignQuantity,jdbcType=INTEGER},
      </if>
      <if test="usedQuantity != null" >
        usedQuantity = #{usedQuantity,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hyrt.saic.bean.UserApplyPackage" >
    update t_user_apply_package
    set userId = #{userId,jdbcType=VARCHAR},
      assignorId = #{assignorId,jdbcType=VARCHAR},
      yearMonth = #{yearMonth,jdbcType=CHAR},
      businessId = #{businessId,jdbcType=INTEGER},
      assignQuantity = #{assignQuantity,jdbcType=INTEGER},
      usedQuantity = #{usedQuantity,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>