.Dialog {
    BORDER: #0d437b 1px solid;  Z-INDEX: 999; LEFT: 0px;POSITION: absolute; TOP: 0px; overflow:hidden;
}

.DialogMask {
    Z-INDEX: 998; filter:Alpha(opacity=60); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; BACKGROUND-COLOR: #ffffff; opacity: 0.6
}
.DialogHeader {
    CLEAR: both;
    height:23px;
    padding:5px 0px 0px 0px;
    background:#1883b2;
    font-size: 12px;
    color:#FFFFFF;
    font-weight:bold;
}
.DialogHeaderLeft {
    FLOAT: left; WIDTH: 22px; CURSOR: pointer; HEIGHT: 100%; TEXT-ALIGN: center
}
.DialogHeaderCenter {
    MARGIN-TOP: 4px; FLOAT: left; TEXT-ALIGN: left
}
.DialogHeaderRight {
    FLOAT: right; CURSOR: pointer; HEIGHT: 100%; TEXT-ALIGN: center
}
.DialogExpandImage {
    BACKGROUND: url(expand.gif) no-repeat center center; MARGIN-LEFT: 5px; WIDTH: 16px; MARGIN-RIGHT: 3px; HEIGHT: 100%
}
.DialogExpandImageOver {
    BACKGROUND: url(expand_hover.gif) no-repeat center center; MARGIN-LEFT: 5px; WIDTH: 16px; MARGIN-RIGHT: 3px; HEIGHT: 100%
}
.DialogCollapseImage {
    BACKGROUND: url(collapse.gif) no-repeat center center; MARGIN-TOP: -2px; MARGIN-LEFT: 5px; WIDTH: 16px; MARGIN-RIGHT: 3px; HEIGHT: 100%
}
.DialogCollapseImageOver {
    BACKGROUND: url(collapse_hover.gif) no-repeat center center; MARGIN-TOP: -2px; MARGIN-LEFT: 5px; WIDTH: 16px; MARGIN-RIGHT: 3px; HEIGHT: 100%
}
.DialogCloseImage {
    BACKGROUND: url(close.gif) no-repeat center center; MARGIN-TOP: -2px; MARGIN-LEFT: 3px; WIDTH: 16px; MARGIN-RIGHT: 1px; HEIGHT: 100%
}
.DialogCloseImageOver {
    BACKGROUND: url(close_hover.gif) no-repeat center center; MARGIN-TOP: -2px; MARGIN-LEFT: 3px; WIDTH: 16px; MARGIN-RIGHT: 1px; HEIGHT: 100%
}
.DialogContent {
    CLEAR: both; OVERFLOW: auto; WIDTH: 100%; LINE-HEIGHT: 150%;
}

.DialogToolBar {
    CLEAR: both; BORDER-TOP: #add4e6 1px solid; FLOAT: left; WIDTH: 100%
}
.DialogToolItemLeft {
    FLOAT: left; MARGIN-LEFT: 3px; PADDING-TOP: 5px; HEIGHT: 100%
}
.DialogToolItemRight {
    MARGIN-TOP: 3px; FLOAT: right; CURSOR: pointer; MARGIN-RIGHT: 3px; HEIGHT: 100%
}
.DialogContentLeft {
    MARGIN-TOP: 8px; BACKGROUND: url(error.gif) no-repeat center center; FLOAT: left; VERTICAL-ALIGN: middle; WIDTH: 35%; HEIGHT: 35px; TEXT-ALIGN: center
}
.DialogContentRight {
    MARGIN-TOP: 15px; FLOAT: left; VERTICAL-ALIGN: middle; WIDTH: 65%; COLOR: #ff6600
}
.DialogContentButton {
    FONT-WEIGHT: bold; FLOAT: left; VERTICAL-ALIGN: middle; WIDTH: 100%; COLOR: #ff0000; HEIGHT: 25px; TEXT-ALIGN: center
}


.Button {
    BORDER-RIGHT: #999966 1px solid; BORDER-TOP: #999966 1px solid; BACKGROUND: url(button.gif) #cfe8f5 repeat-x center center; BORDER-LEFT: #999966 1px solid; CURSOR: pointer; COLOR: #333333; BORDER-BOTTOM: #999966 1px solid; HEIGHT: 23px
}
.ButtonOver {
    BORDER-RIGHT: #cccc00 1px solid; BORDER-TOP: #cccc00 1px solid; BACKGROUND: url(buttonover.gif) repeat-x center center; BORDER-LEFT: #cccc00 1px solid; CURSOR: pointer; COLOR: #333333; BORDER-BOTTOM: #cccc00 1px solid; HEIGHT: 23px
}
.MaskDiv {
    Z-INDEX: -1; filter:Alpha(opacity=60); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; ; HEIGHT: expression(this.parentNode.offsetHeight); opacity: 0
}

.msg{
    padding:0px; border:0px; background:#ffffff;font-family:"宋体"; font-size: 14px; color:#7f7f7f; margin:5px auto 0px;
}
.msg span img{ border:0;}
.msg span{vertical-align:middle;margin:0px 0 0px 10px;}