<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyrt.saic.dao.CommonMapper" >
    <select id="selectByPrimaryKey" resultType="java.util.Map" parameterType="java.util.Map" >
        select  *  from  ${_table}    where ${_column}  =
        <if test="_ptype == 1" >
            #{_id,jdbcType=VARCHAR}
        </if>
        <if test="_ptype == 0" >
            #{_id,jdbcType=INTEGER}
        </if>
    </select>


    <insert id="insert"  parameterType="java.util.Map" >
    insert into ${_table} (${_column})
    values (${_values})
  </insert>


    <update id="update"  parameterType="java.util.Map" >
        update ${_table} set ${_set} where 1=1  ${_where}
    </update>

    <delete id="delete" parameterType="java.util.Map" >
    delete from  ${_table} where 1=1  ${_where}
  </delete>

    <select id="selectBySql" resultType="java.util.Map" parameterType="java.lang.String" >
       ${_parameter}
    </select>

    <select id="selectCount" resultType="java.lang.Integer" parameterType="java.lang.String" >
        ${_parameter}
    </select>
</mapper>